<div ng-init="init()" class="container-fluid">

<div class="row" style="background: aliceblue;" >
	<div class="col-md-12">
		<div style="margin-top: 10px;">
			<span style="font-size: 24px; font-style: normal; font-weight: 300;">Task Box</span>
			<input type="text"  class="form-control" placeholder="Search Task" ng-model="search">
        </div>
		<hr style="margin-top: 10px; margin-bottom: 0px; margin-left: -15px; margin-right: -15px;"/>
	</div>
</div>

<div ng-repeat="task in taskList | filter : search" class="row">

	<div class="col-md-6 col-xs-6 text-left" style="margin-top: 10px; padding-left: 10px;">
		<div>
			<span style="font-size: 20px; font-style: normal; font-weight: 100;" >{{task.reference}} </span>
		</div>
	</div>

	<div class="col-md-6 col-xs-6 text-right" style="margin-top: 10px; padding-left: 10px; cursor: hand;">
		<div>
			<a ng-href="#{{task.form}}?userId={{userId}}" style="text-decoration: none !important;">
				<span style="font-size: 20px; font-weight: 900;"> &#9655;</span>
			</a>
		</div>
	</div>

   <div class="col-md-12 col-xs-12">
	   <hr style="margin-top: 5px; margin-bottom: 5px; margin-left: -15px; margin-right: -15px; border-top: dashed 1px lightgray;">
   </div>

	<div class="col-md-12 col-xs-12">
		<div>
			<span style="font-size: 16px; font-style: normal; font-weight: 400; text-transform: uppercase; ">{{task.process}} Process</span>
		</div>
		<div>
			<span style="font-size: 14px; font-style: normal; font-weight: 500; text-transform: capitalize;">Action : {{task.name}}</span>
		</div>
		<div>
			<span style="font-size: 14px; font-style: normal; font-weight: 200; ">{{task.description}} </span>
		</div>
	</div>

	<div class="col-md-8 col-xs-8">
		<span style="font-size: 12px; font-style: normal; font-weight: 100;" >{{task.createTime | date : 'dd/MM/yyyy h:mm a'}}</span>
	</div>

	<div class="col-md-4 col-xs-4 text-right">
		<span style="font-size: 12px; font-style: normal; font-weight: 100;" ng-if="task.assignee!='available'" >Assigned</span>
		<span style="font-size: 12px; font-style: normal; font-weight: 100;" ng-if="task.assignee=='available'" >Available</span>
	</div>

	<div class="col-md-12 col-xs-12">
		<hr style="margin-top: 10px; margin-bottom: 5px; margin-left: -15px; margin-right: -15px;"/>

	</div>

</div>

</div>