<div class="container" ng-init="init()">
    <div class="row">
        <div class="col-md-12">
            <h2>Review Registration</h2>
            <hr/>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-12">
    		<form name="form">
    			<div class="form-group">
    				<label for="firstName">First Name</label>
    				<input ng-model="task.data.firstName" id="firstName" class="form-control" disabled>
    			</div>
    			<div class="form-group">
    				<label for="lastName">First Name</label>
    				<input ng-model="task.data.lastName" id="lastName" class="form-control" disabled>
    			</div>
    			<div class="form-group">
    				<label for="email">Email</label>
    				<input ng-model="task.data.email" id="email" class="form-control" disabled>
    			</div>
    			<div class="form-group">
    				<label for="decision">Decision *</label>
    				<input ng-model="task.data.decision" id="decision" class="form-control" placeholder="Enter Your Decision" ng-disabled="!task.assignee" ng-change="changed()">
    			</div>
    			
    			<div class="form-group text-right">
    				<button class="btn btn-success" ng-click="save()" ng-if="task.assignee && task.updated">Save</button>
    				<button class="btn btn-danger" ng-click="submit()" ng-if="task.assignee">Complete</button>
    				<button class="btn btn-danger" ng-click="claim()" ng-if="!task.assignee">Claim</button>
    			</div>
    		</form>
    	</div>
    </div>
</div>