<div class="container" ng-init="init()">
    <div class="row">
        <div class="col-md-12">
            <h2>Verify Registration</h2>
            <hr/>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-12">
    		<form>
    			<div class="form-group">
    				<label for="email">Email</label>
    				<input ng-model="task.data.email" id="email" class="form-control" disabled>
    			</div>
    			<div class="form-group">
    				<label for="otp">OTP *</label>
    				<input ng-model="task.data.otp" id="otp" class="form-control" placeholder="Enter OTP">
    			</div>
    			<div class="form-group text-right">
    				<button class="btn btn-danger" ng-click="submit()">Submit</button>
    			</div>
    		</form>
    	</div>
    </div>
</div>